[Unit]
Description = Lock screen when going to sleep/suspend
Before=sleep.target
Before=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/betterlockscreen --lock dimblur
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
